<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MaxBucknell_AMDJS>
            <version>1.2.0</version>
        </MaxBucknell_AMDJS>
    </modules>
    <global>
        <blocks>
            <MaxBucknell_AMDJS>
                <class>MaxBucknell_AMDJS_Block</class>
            </MaxBucknell_AMDJS>
        </blocks>
        <helpers>
            <MaxBucknell_AMDJS>
                <class>MaxBucknell_AMDJS_Helper</class>
            </MaxBucknell_AMDJS>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <MaxBucknell_AMDJS>
                    <file>maxbucknell/amdjs.xml</file>
                </MaxBucknell_AMDJS>
            </updates>
        </layout>
    </frontend>
    <default>
        <dev>
            <amdjs>
                <sources>js/maxbucknell/amdjs/modules</sources>
                <cache>0</cache>
                <minify>0</minify>
                <minifier></minifier>
                <devMode>1</devMode>
            </amdjs>
        </dev>
    </default>
</config>
